{
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "experimentalTernaries": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 120,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
