button
	cursor: pointer

code
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace

.cards
	display: flex
	flex-wrap: wrap
	justify-content: space-evenly

	.card
		margin: 0.25em
		border: solid 1px #6c7e94
		border-radius: .5em
		padding: .5em 1em
		font-size: 1.15em
		background-color: #13121291
		height: 100%
		color: #F9F9F9

.card__buttons
	border-radius: .5rem
	
.emphasis
	font-weight: bold
	font-size: 1.25em
	color: #F9F9F9

.note
	font-weight: lighter
	font-size: 0.75em
	color: #1d2027
	// text-transform: it

main
	margin: auto
	padding: 1rem
	width: 800px
	max-width: calc(100% - 2rem)
	color: white
	font-size: 20px
	line-height: 1.6

.astro-a
	position: absolute
	top: -32px
	left: 50%
	transform: translatex(-50%)
	width: 220px
	height: auto
	z-index: -1

h1
	font-size: 4rem
	font-weight: 700
	line-height: 1
	text-align: center
	margin-bottom: 1em

// .text-gradient
// 	background-image: var(--accent-gradient)
// 	-webkit-background-clip: text
// 	-webkit-text-fill-color: transparent
// 	background-size: 400%
// 	background-position: 0%
.text-gradient
	background-image: var(--accent-gradient)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent
	background-size: 1000%
	background-position: 0%
	animation: bg-animation 5s infinite alternate

.instructions
	margin-bottom: 2rem
	border: 1px solid rgba(var(--accent-light), 25%)
	background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%))
	padding: 1.5rem
	border-radius: 8px

.instructions code
	font-size: 0.8em
	font-weight: bold
	background: rgba(var(--accent-light), 12%)
	color: rgb(var(--accent-light))
	border-radius: 4px
	padding: 0.3em 0.4em

.instructions strong
	color: rgb(var(--accent-light))

.link-card-grid
	display: grid
	grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr))
	gap: 2rem
	padding: 0

#checkbox
	display: flex
	align-items: center
	justify-content: center
	margin: 0.5em 0

#check__label
	border: 0
	// padding: 0.3em 1.5em
	top: -25%
	font-size: 1rem

#check__button
	border: 0.3rem ridge #46056d
	font-size: 1.2rem
	background-image: var(--nyx-gradient)
	padding: 0.3em 1.5em
	margin: 0 0.3em
	animation: bg-animation 5s infinite alternate
	background-size: 1000%

.clicked
	padding: 0.3em 1.5em
	margin: 0 0.3em
	font-size: 1.2rem
	background-image: var(--white-gradient) !important
	border: 0.3rem ridge var(--accent-dark) !important
	animation: bg-animation 5s infinite alternate