body
	font-family: 'Arial', sans-serif
	margin: 0
	padding: 0
	// background-color: #f8f8f8

header
	color: #fff
	text-align: center
	padding: 20px

section
	max-width: 800px
	margin: 20px auto
	padding: 20px
	background-color: #300D8A
	color: #fcffff
	// box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)

.buttons
	display: inline-block
	padding: 10px 20px
	background-color: #127A39
	color: #fff
	text-decoration: none
	font-weight: bold
	border-radius: 5px
	transition: background-color 0.3s ease

a:hover
	background-color: #45a049

li
	list-style-type: none
	text-align: center
	padding-bottom: 1rem

.icon-pf
	width: 24px
	height: 24px
