:root {
	font-size: 62.5%;
}
*{
	box-sizing: border-box;
}
body {
	font-size: 1.6rem;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* position: relative; */
	/* overflow: hidden; */
	/* margin: 0 auto; */
	/* height: 10vh; */
	/* z-index: 2; */
	/* width: 100%; */
}
.projects {
	    /* percent per item in row. 
    33% = limit to 3 per row. */
    flex: 1 0 33%; 
    margin: 2.5rem;
    height: 500px;
		display: block; 
}
