:root {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}
.widget {
	max-width: 100%;
	max-height: 10vh;
	float: right;
}
.widget:nth-of-type(2n) {
	float: right;
}

.item {
	color: gray;
	max-width: 33%;
}
.item-active {
	color: gray;
}
.item-active::after {
	border-bottom: .1rem gray;
}