---
import Hambuger from "@components/Hambuger.astro";
import Navigation from "@components/Navigation.astro";
import Stars from "@components/Stars.astro";
import ThemeIcon from "@components/ThemeIcon.astro";
import "@styles/burger.sass";
import { ViewTransitions } from "astro:transitions";
---

<nav transition:animate="slide">
  <header>
    <ThemeIcon />
    <Hambuger />
    <Navigation />
  </header>
  <Stars />
</nav>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  nav {
    display: flex;
    gap: 10px;
  }

  @media (min-width: 768px) {
    header {
      gap: 20px;
    }
  }
</style>
