---
---
<div class="nav-links">
  <a data-astro-prefetch href="/">Home</a>
  <a data-astro-prefetch href="/about">About</a>
  <a data-astro-prefetch href="/gabagool">Gabagool</a>
  <!-- <a href="/blog">Blog</a>
  <a href="/tags/">Tags</a> -->
</div>