---
import { ViewTransitions } from "astro:transitions";
import SkillLayout from "@layouts/SkillLayout.astro";
import "@styles/skills.sass";
const pageTitle = "The mind";
---

<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions />
  </head>
  <body>
    <!-- <button class="circle-button">Open Circle</button> -->
    <div class="book__container" dir="ltr">
      <!-- <SkillLayout
        title="Two roads diverged in a yellow wood"
            intent="There are many paths to take, you have to choose which road you want to pick."
        skill="So many to choose from">
        <article class="skill-content">Where would you like to go?</article>
        <article class="skill-content-header">Click one of the following books to get an in-depth<br>?view</article>
      </SkillLayout> -->
      <div class="poem__container">
        <div class="poem__card__header">
          <div class="card__title">
            <h2 class="card__verse" dir="rtl">
              Two roads diverged in a yellow wood
            </h2>
            <hr class="card__divider" dir="rtl" />
          </div>
          <div class="poem__card__content">
            <article class="skill-content-header" dir="rtl">
              Click one of the following books to get an in-depth<br />?view
            </article>
          </div>
        </div>
      </div>

      <SkillLayout
        title="And sorry I could not travel both"
        intent="When you use a type 1 hypervisor, you cannot use an operating system along side it. When you use docker on windows, you cannot use linux docker containers and vice versa."
        skill="Virtualization">
        <p class="skill-content">
          I've created, managed, and maintained virtual machines and <br
          />.containers
        </p>
      </SkillLayout>
      <SkillLayout
        title="And be one traveler, long I stood<br>And looked down one as far as I could<br>TO where it bent in the undergrowth;"
        intent="It takes very long to compile a good model, and even longer to train it. It takes even longer to train a model on a large dataset. Additionally to produce results and to test the model, it takes even longer."
        skill="AI engineer">
        <p class="skill-content">
          I've worked on artificial intelligence projects, developing algorithms
          and models for various <br />.applications
        </p>
      </SkillLayout>
      <SkillLayout
        title="Then took the other, as just as fair,<br>And having perhaps the better claim,<br>Because it was grassy and wanted wear;"
        intent="Not knowing which to choose, I tried them, with an alluring distinct features."
        skill="Software development">
        <p class="skill-content">
          Proficient in multiple programming languages including Python,
          JavaScript, Java, PHP, SQL, and <br />.Rust
        </p>
      </SkillLayout>
      <SkillLayout
        title="Though as for that the passing there<br>Had worn them really about the same,"
        intent="Building PC's and troubleshooting them was relatively similar in the aspect that they are very straightforward on the error intent."
        skill="PC Builder/technician">
        <p class="skill-content">
          I have experience building and troubleshooting PCs, selecting
          compatible components, and ensuring optimal performance and <br
          />.stability
        </p>
      </SkillLayout>
      <SkillLayout
        title="And both that morning equally lay<br>In leaves no step had trodden black.<br>Oh, I kept the first for another day!"
        intent="Having scripts hosted, maintained and updated every morning"
        skill="Hosting">
        <p class="skill-content">
          I have experience hosting scripts, applications, websites, and
          personal services. This includes setting up servers, configuring
          environments, managing deployments, and ensuring high availability and <br
          />.performance
        </p>
      </SkillLayout>
      <SkillLayout
        title="Yet knowing how way leads on to way,<br>I doubted if I should ever come back.<br>I shall be telling this with a sigh"
        intent="How so many roads leads to the dns and only one way back to the original road. I have to sigh because I have to go back to the original road."
        skill="DNS management">
        <p class="skill-content">
          I've managed DNS records for multiple domains, including <br />.this
          one <br />
          I have a pihole script that blocks ads and trackers on my home network
          and served as a dhcp <br />.server
        </p>
      </SkillLayout>
      <SkillLayout
        title="Somewhere ages and ages hence:<br>Two roads diverged in a wood, and I<br>I took the one less traveled by,<br>And that has made all the difference."
        intent="The two roads, frontend and backend. I chose the easy road but was it really easier? I sighed again"
        skill="Full stack developer">
        <p class="skill-content">
          I've worked on the front-end, back-end, and everything in between.
        </p>
        <p class="skill-content">
          I have experience developing APIs that enable seamless interaction
          between users and websites, allowing for real-time updates and dynamic
          script status <br />.changes
        </p>
      </SkillLayout>
    </div>
    <script>
      document?.querySelectorAll(".poem_container").forEach(function (item) {
        item?.addEventListener("wheel", preventScroll, { passive: false });
      });

      function preventScroll(e: {
        preventDefault: () => void;
        stopPropagation: () => void;
      }) {
        e.preventDefault();
        e.stopPropagation();

        return false;
      }
    </script>
  </body>
</html>
